.aboutusContent #mobile {
  max-width: 460px;
  position: relative;
  margin: 0px auto;

}

.aboutusContent #desktop {
  max-width: 1024px;
  position: relative;
  margin: 0px auto;
}

.aboutusContent h3{
  font-family: Arial;
  color: #003450;
  font-Weight: 400;
}

.aboutusContent #desktop h3 front{
  line-height: 20px;
  font-size: 18px;
  box-sizing: border-box;
}

.aboutusContent #mobile h3 front{
  line-height: 15px;
  font-size: 14px;
  box-sizing: border-box;
}
