
.contactusContent {
  padding-top: 30px;
  background-color: rgb(230, 230, 230);
  position: relative;
}

.contactusContent #desktop{
  padding-bottom: 60px;
}

.contactusContent #mobile{
  padding-bottom: 20px;
  color: #003450;
  font-family: Gotham;
}

.contactusRow{
  margin: 20px 15%;
}

.contactusRow h2{
  font-family: Gotham;
  color: #003450;
  font-Weight: bold;
  word-wrap: break-word;
}

.contactusRow h2 front{
  line-height: 24px;
  font-size: 20px;
  box-sizing: border-box;
}

.contactusRow h3{
  font-family: Gotham;
  color: #003450;
  font-Weight: 400;
}

.contactusRow h3 front{
  line-height: 20px;
  font-size: 16px;
  box-sizing: border-box;
}

.contactusContent #mobile{
  padding-bottom: 10px;
  color: #003450;
  font-family: Gotham;
}

.contactusContent #mobile h2{
  font-family: Gotham;
  color: #003450;
  font-Weight: bold;
  word-wrap: break-word;
  line-height: 24px;
  font-size: 22px;
  box-sizing: border-box;
}

.contactusContent #mobile h3{
  font-family: Gotham;
  color: #003450;
  font-Weight: 400;
  line-height: 20px;
  font-size: 18px;
  box-sizing: border-box;
}
