@import url('https://fonts.googleapis.com/css?family=Roboto:700');

#flip body {
  margin:0px;
  font-family:'Roboto';
  text-align:center;
}

.flip-container-mobile{
  color:#ffffff;
  text-transform: uppercase;
  font-size:50px;
  font-weight:bold;
  padding-top:15%;
  width:100%;
  bottom:40%;
  display:block;
  text-align: center;
  font-family: Gotham;
  line-height: 20px;
}

.flip-container-desktop{
  color:#ffffff;
  text-transform: uppercase;
  font-size:60px;
  font-weight:bold;
  padding-top:10%;
  width:100%;
  bottom:40%;
  display:block;
  text-align: center;
  font-family: Gotham;
}

#flip {
  height:100px;
  overflow: hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

@keyframes show {
  0% {margin-top:-100px;}
  5% {margin-top:-82px;}
  33% {margin-top:-82px;}
  38% {margin-top:-55px;}
  66% {margin-top:-55px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-100px;}
}
