.footer-desktop {
    background: #003450;
    width: 100%;
    padding-top: 10px;
    display: table;
    color:#ffffff;
}

.textContainer-desktop {
  padding: 10px 70px;
  font-family: Arial;
  float:left;
}

.socialLink-desktop {
  padding: 15px 20px;
  float:right;
}

.socialLink-icon {
  height: 30px;
  width: 30px;
  margin-right: 8px;
  display: inline-block;
}

.socialLink-facebook-icon {
  background: url(/app/components/images/fb_logo.png);
  background-size: cover;
}

.socialLink-linkedin-icon {
  background: url(/app/components/images/in_logo.png);
  background-size: cover;
}

.footer-mobile {
  background: #003450;
  width: 100%;
  padding-top: 20px;
  color:#ffffff;
}

.socialLink-mobile {
  text-align: center;
}

.textContainer-mobile {
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
}
