.topSection {
  background: url(/app/components/images/banner02.png) no-repeat center #FFF;
  background-size: cover;
  height: 50%;
  width: 100%;
}

.homeContent{
  position: relative;
  z-index: 99;
}

#desktop h1{
  line-height: 44px;
  font-family: Gotham;
  color: rgb(248, 58, 34);
}

#mobile h1{
  line-height: 25px;
  font-size: 24px;
  font-family: Gotham;
  color: rgb(248, 58, 34);
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  /*src: url('/vendor/fonts/source-sans-pro/source-sans-pro-v9-latin-ext_latin-300.eot');*/
  src: local('Gotham'), local('Gotham'),
       /*url('/vendor/fonts/source-sans-pro/source-sans-pro-v9-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'),
       url('/vendor/fonts/source-sans-pro/source-sans-pro-v9-latin-ext_latin-300.woff2') format('woff2'),
       url('/vendor/fonts/source-sans-pro/source-sans-pro-v9-latin-ext_latin-300.woff') format('woff'), */
       url('/app/components/font/Gotham-light.ttf') format('truetype');
       /*url('/vendor/fonts/source-sans-pro/source-sans-pro-v9-latin-ext_latin-300.svg#SourceSansPro') format('svg'); */
}
