.topSection {
  background: url(/app/components/images/banner02.png) no-repeat center #FFF;
  background-size: cover;
  height: 50%;
  width: 100%;
}

.homeContent{
  position: relative;
  z-index: 99;
}

#desktop h1{
  line-height: 44px;
  font-family: Arial;
  color: rgb(248, 58, 34);
}

#mobile h1{
  line-height: 25px;
  font-size: 24px;
  font-family: Arial;
  color: rgb(248, 58, 34);
}
