
.teamContent  {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: rgb(230, 230, 230);
}

.teamContent #desktop{
  max-width: 1100px;
  margin: 0px auto;
}

.teamContent #mobile {
  max-width: 400px;
  margin: 0px auto;
}
.teamContent #desktop img{
  float:left;
}

.teamContent #mobile  img{
  float:left;
  width: 48px;
  height: 48px;
}

.teamContent img:hover, h2{
 cursor:pointer;
}

.teamContent h2{
  float:left;
  font-family: Arial;
  color: #003450;
  font-Weight: bold;
  word-wrap: break-word;
  white-space: pre-line;
}

.teamContent #desktop h2 front{
  line-height: 24px;
  font-size: 22px;
  box-sizing: border-box;
}

.teamContent #mobile h2 front{
  line-height: 19px;
  font-size: 18px;
  box-sizing: border-box;
}

.teamModal h2{
  font-family: Arial;
  color: #003450;
  font-Weight: bold;
  word-wrap: break-word;
}

.teamModal h2 front{
  line-height: 24px;
  font-size: 22px;
  box-sizing: border-box;
}

.teamModal h2 front{
  line-height: 24px;
  font-size: 22px;
  box-sizing: border-box;
}

.teamModal h3{
  font-family: Arial;
  color: #003450;
  font-Weight: 400;
  white-space: pre-line;
}

.teamModal h3 front{
  line-height: 20px;
  font-size: 18px;
  box-sizing: border-box;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.reactModal {
  border: 0;
  border-radius: 4px;
  bottom: auto;
  min-height: 10rem;
  left: 50%;
  padding: 2rem;
  position: fixed;
  right: auto;
  top: 50%;
  transform: translate(-50%,-50%);
  min-width: 20rem;
  width: 80%;
  max-width: 60rem;
  border: 1px solid #e5e5e5;
  background-color: white;
}
