
.teamContent{
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: rgb(230, 230, 230);
}

.teamContent img{
  float: right;
}

.teamContent img:hover, h2{
 cursor:pointer;
}

.teamRow{
  margin: 20px 15%;
}

.teamContent h2{
  font-family: Arial;
  color: #003450;
  font-Weight: bold;
  word-wrap: break-word;
}

.teamContent h2 front{
  line-height: 24px;
  font-size: 22px;
  box-sizing: border-box;
}

.teamModal h2{
  font-family: Arial;
  color: #003450;
  font-Weight: bold;
  word-wrap: break-word;
}

.teamModal h2 front{
  line-height: 24px;
  font-size: 22px;
  box-sizing: border-box;
}

.teamModal h3{
  font-family: Arial;
  color: #003450;
  font-Weight: 400;
  white-space: pre-line;
}

.teamModal h3 front{
  line-height: 20px;
  font-size: 18px;
  box-sizing: border-box;
}
